<h1>
  Question:
</h1>
<h3>
  <%= @faq.question %>
</h3>
<h1>
  Answer:
</h1>
<h3>
  <%= @faq.answer %>
</h3>

<p class="text-right">
  <%= link_to fa_icon("pencil 2x", id: "pencil"), edit_faq_path(@faq) %>
  <%= link_to fa_icon("trash 2x", id: "bin"), @faq,
                                                                     method: :delete,
                                                                     data: { confirm: "Are you sure?" } %>
</p>
