#dashboard{
  #trophy{
      color: $gold;
    }
  #calendar{
    color: $blue;
  }
  #question{
    color: $green;
  }
  #user-plus{
    color: $ornage;
  }
  #newspaper{
    color: $gray-darker;
  }
  #users{
    background-color: $gray-darker;
    border-radius: 50%;
    color: $gold;
  }
  #pencil-pad{
    color: $brown;
  }
  #thumbs{
    color: $blue;
  }
  i{
    display: block;
  }
  a{
    color: $gray-dark;
    &:hover{
      text-decoration: none;
    }
  }
}

#pencil{
    color: $ornage;
    padding-right: 1em;
  }
#bin{
  color: $brand-danger;
  padding-right: 1em;
}

#index-page{
  #admin-controls{
    margin-bottom: 3em;
  }
  #plus{
    color: $green;
  }
  a{
    color: #000;
  }
  h3{
    margin: 0;
  }
  .col-xs-8, .col-xs-4{
    margin-bottom: 1em;
  }
}

#show-newsletter{
  div{
    display: inline-block;
  }
}

@media screen and (max-width: 768px){
  #dashboard{
    h1{
      font-size: 1.5em;
    }
  }
  #index-page{
    h3{
      font-size: 1.3em;
    }
  }
}

@media screen and (max-width: 468px){
  #dashboard{
    h1{
      font-size: 1em;
    }
  }
}
