#admin-header{
  background-color: $light-cappuccino;
  color: $dark-cappuccino;
  margin-bottom: 3em;
  h1{
    font-weight: bold;
  }
  table{
    width: 100%;
  }
}

#admin-back-link{
  position: fixed;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  h4{
    margin-top: 0;
  }
}
