// body{
//   position: relative;
//   height: 100%;
// }

#admin-header{
  background-color: $light-cappuccino;
  color: $dark-cappuccino;
  margin-bottom: 3em;
  h1{
    font-weight: bold;
  }
}

#admin-back-link{
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}
