<h1><%= @job.title %></h1>
<p><%= @job.description %></p>
<p class="text-right">
  <%= link_to fa_icon("pencil 2x", id: "pencil"), edit_award_path(@job) %>
  <%= link_to fa_icon("trash 2x", id: "bin"), @job,
                                                                     method: :delete,
                                                                     data: { confirm: "Are you sure?" } %>
</p>


