<div id="abou-us-page">
  <div class="container-fluid">
    <div class="container">
      <h1>About Us</h1>
      <p>
        The management team of the nursery consists of the proprietor, Sadé Okocha, the manager, Zoya Dzhukova, and the deputy manager, Carol McGarrity.
      </p>
      <p>
        The proprietor, manager and deputy manager hold qualifications in Childcare and Education and have a wealth of experience in childcare. In addition, Sadé has attained the EYPS (Early Years Professional Status) and the manager has QTS (Qualified Teacher Status).
      </p>
      <p>
        The management is supported by other members of staff mostly qualified to NVQ Level 3 in Childcare and Education.
      </p>
      <p>
        The nursery also employs an administrative assistant, Rushane Rowe.
      </p>
    </div>
  </div>
</div>
