<% provide(:title, "British Values.") %>

<div id="british-values-page" class="container-fluid">
  <div class="container">
    <h1>British Values</h1>
    <p>
      <strong>
        At Oak Tree Day Nursery, we value and celebrate the diverse heritage of all our children and staff. Alongside this, we value and celebrate being part of Britain. We expect all our staff and children to behave with tolerance and respect in dealing with one another. Our staff have had diversity and inclusion training and the nursery has a zero tolerance for gender, cultural and racial discrimination.
      </strong>
    </p>
    <p>
      <strong>
        So, how do we actively promote British Values at Oak Tree Day Nursery?
      </strong>
    </p>
    <h3>Democracy</h3>
    <p>
       We ensure that the children, parent and staff have many opportunities for their voice to be heard at Oak Tree Day Nursery we provide activities such as:
    </p>
    <ul>
      <li>Circle time during which we encourage children to take turns to speak on a wide range of topics including their interests, family life and experiences and also listen to the viewpoint of others. Children are also encouraged to ask questions.
      </li>
      <li>
        Puzzles encouraging children to work together collaboratively, taking turns to put in the missing pieces. Children are encouraged to resolve conflicts and take pride in their achievement.
      </li>
      <li>Free play to encourage children to choose resources they would like to play with and invite their friends to share the experience with them.
      </li>
      <li>
        I CT, children work in pairs together using age appropriate programs to solve problems which are both educational and fun.
      </li>
      <li>
        Game boards to encourage children to share and take turns.
      </li>
      <li>
        Messy play such as water, sand to encourage children to share, take turns and work together.
      </li>
      <li>
        Making collages and painting also encourages the children to share, work together and communicate.
      </li>
      <li>
        Parents' opinion are welcome through methods such as questionnaires, parents evening, parent suggestion box and home diaries.
      </li>
    </ul>
    <h3>Rule of law</h3>
    <ul>
      <li>
        We recognise the importance of rules and laws, that they are referred to and reinforced. We teach the children the importance of rules, that they govern and protect us, what it involves and consequences when they are broken.
      </li>
      <li>
        We have classroom rules such as no running in the room and acceptable way to treat others, for example, no hitting.
      </li>
      <li>
        We have talks with the children about acceptable and unacceptable behaviour and consequences of hurtful words and actions to others.
      </li>
      <li>
        We encourage the children to tidy up after activities, we have a tidy up song that we sing and the children recognise that it is time to tidy up.
      </li>
      <li>
        We have discussions about feelings with the children and encourage them to talk about how they are feelings and understand how their actions affect others.
      </li>
      <li>
        We have a consistent approach towards managing undesirable behaviour in class.
      </li>
    </ul>
    <h3>Individual liberty</h3>
    <ul>
      <li>
        Alongside the rules, we promote freedom of choice and the right to respectfully express views and beliefs.
      </li>
      <li>
        Through the provision of a safe, supportive environment, we encourage our children to make choices.
      </li>
      <li>
        We support all the children to develop positive self-esteem, self-confidence and self-awareness.
      </li>
      <li>
        Activities that encourage independent play, for example, building blocks, playing on the adventure equipment in the garden which involves climbing, walking on a rope bridge. We give praise to encourage the children and recognise their achievements.
      </li>
      <li>
        Circle time, during which children are encouraged to talk about a range of topics such as holiday, family, their favourite things etc. encouraging them to listen to the point of view of others, respecting that and understanding that other people's opinion matter.
      </li>
      <li>
        We make family books, where we have pictures of the child's grandparents, parents and siblings. This encourages the children to talk about their families and share with their friends. Helps them to understand that everyone is different and they will happily discuss this.
      </li>
      <li>
         Free play where children are able to assess risks and take risks and independently complete tasks knowing that there are adults close by that they can go to if they need help.
      </li>
      <li>
        The children participate in outings to the theatre, local shops, libraries, museums and farm. All these experiences broaden the children's knowledge and experience of the world and enhance their learning experience as a whole.
      </li>
    </ul>
    <h3>Mutual respect and tolerance</h3>
    <ul>
      <li>
        Oak Tree Day Nursery serves an area which is culturally  diverse and we are proud to promote and celebrate our different cultures, beliefs, backgrounds and different ways of life.
      </li>
      <li>
        We use curricular and extracurricular opportunities to expose the children to other cultures. For example, the children learn French as an extracurricular subject; this encourages them to have interest in other cultures.
      </li>
      <li>
        We have a number of children whose first language is not English, we have a world display in our reception area where we display 'welcome'  in all the languages our children speak and show the places on the map.
      </li>
      <li>
        Role play using different props including multicultural dressing up outfits provides the children the opportunity to experience and talk about their experiences.
      </li>
      <li>
        Our lunch menu offers diverse cuisine from around the world to give children a taste of food from other cultures.
      </li>
      <li>
        Activities using multicultural equipment and resources to teach children  about other cultures and diversity as a whole.
      </li>
      <li>
         Inviting parents from different cultures to speak to the children about their cultures and show them artifacts and photos from their country.
      </li>
      <li>
        Celebrating festivals such as Diwali teaches our children about cultural and religious practices which may be different to their own, promoting understanding of other cultures.
      </li>
      <li>
        During circle time and activities, we reinforce our values on diversity and acceptance of everyone and also accepting others who may be different from you and respecting their values and beliefs.
      </li>
      <li>
        During story time, we have a range of books from different cultures which give the children an insight into other cultures and this helps the children to understand them better.
      </li>
    </ul>
  </div>
</div>
