<% provide(:title, "Jobs") %>

<div id="careers-page" class="container-fluid">
  <div class="container">
  <% if @jobs.any? %>
    <h1 class="text-center">We are currently hiring:</h1>
    <% @jobs.each do |job| %>
      <div class="row">
      <h2><%= job.title %></h2>
      <p><%= job.description %></p>
      </div>
    <% end %>
  <% else %>
    <h1 class="text-center">We dont have any vacancies at the moment.</h1>
  <% else %>
    <h1>We're currently not hiring.</h1>
  <% end %>
  </div>
</div>
