<% provide(:title, "N.E.F.") %>

<div id="education-fund-page" class="container-fluid">
  <div class="container">
    <h1>
      Nursery Education Fund (NEF)
    </h1>
    <p>
      We participate in the government’s Nursery Education Fund Scheme for two, three and four year olds. This enables parents to receive, on a termly basis, 15 hours of free nursery place per week for their child. Children are entitled to the grant the term after their 2nd birthday for eligible two year olds and 3rd birthday for three and four year olds. The free entitlement can only be taken up during term time (38 weeks of the year). Parents are able to choose how they wish to use the free entitlement. Please speak to the nursery manager about your specific requirement. A programme of learning is in place which aims to help children achieve a number of early learning goals by the end of what has been termed their foundation stage education (age 3-5).
    </p>
  </div>
</div>
