<% provide(:title, "EYFS Curriculum") %>

<div id="eyfs-curriculum-page" class="container-fluid">
  <div class="container">
    <h1>
      EYFS Curriculum Activities
    </h1>
    <p>
      Nurseries in England are required to follow the Early Years Foundation Stage (EYFS), which sets standards for the learning, development and care of children from birth to 5 years old.
    </p>
    <p>
      Within the learning and development section of the EYFS, there are seven areas of learning and development which we base activities on.  The areas of learning and development are divided into ‘Prime’ and ‘Specific’ areas.
    </p>
    <h3>The three prime areas are:</h3>
    <ul>
      <li>Communication and language</li>
      <li>Physical development </li>
      <li>Personal, social and emotional development. </li>
      <li>These prime areas are those most essential for your child’s healthy development and future learning.  </li>
    </ul>
    <p>
       As children grow, the prime areas will help them to develop skills in the four specific areas.
    </p>
    <h3>The four specific areas are: </h3>
    <ul>
      <li>Literacy</li>
      <li>Mathematics</li>
      <li>Understanding the world </li>
      <li>Expressive arts and design</li>
    </ul>
    <p>
      Each area of learning and development is implemented through planned, purposeful play and through a mixture of adult-led and child-initiated activities. Play is essential for children’s development, building their confidence as they learn to explore, manage situations and relate to others. Children learn by leading their own play and by taking part in play which is guided by adults. We recognise each child’s emerging needs and interests and endeavour to guide their development through warm, positive interactions and by providing an enabling environment.
    </p>
    <p>
      If you would like to know more information about the EYFS:  You can find the Early Years Foundation Stage which includes the early learning goals at www.foundationyears.org.uk. The foundation years website also includes a range of resources and contacts.
    </p>
    <h3>Circle Time</h3>
    <p>
      This is a time when we welcome the children, encourage them to self-register and discuss with them either what the day may hold or perhaps what they may have done at the weekend or previous evening.  We may sing songs or read stories during circle time.
    </p>
    <h3>Garden area</h3>
    <p>
      The children have the opportunity to participate in a wide variety of activities which include messy play and explore our garden area. Our garden area is divided into 2 sections; we have a soft impact resistance area with fixed adventure play equipment such as slides, tunnels, bridge and track to ride cars and bikes on. The second area is a natural area with natural materials such as bark, wood, stones, and plants. The children have the opportunity to explore our garden area at least twice every day.
    </p>
    <h3>ICT Equipment</h3>
    <p>
      We have a number of ICT equipment including a computer and an interactive table for the children to help develop their ICT skills further. The table has a touch screen and comes with a lot of programmes pre-installed that will help the children can use to develop in all the six areas of learning and development.
    </p>
    <h3>Extra Curricular </h3>
    <p>
       On Wednesdays, the children have a lot of fun with our visiting  Music and Movement teacher from Boogie Mites. The workshop cover all the different areas of the EYFS (Early Years Foundation Stage). On Fridays, we have our French lesson for the children in the toddler and preschool units. French is also taught by a visiting teacher. Lessons cover different aspects of EYFS (Early Years Foundation Stage).
    </p>
    <p>The children have a period of rest or sleep between 12.00 and 2p.m. </p>
  </div>
</div>
