<% provide(:title, "FAQs") %>

<div id="faqs-page" class="container-fluid">
  <div class="container">
    <h1>Frequently Asked Questions</h1>
    <% @faqs.each do |faq| %>
    <div>
      <h4 data-toggle="collapse" data-target="#<%= faq.id %>"><strong>Q:<%= faq.question %></strong></h4>
      <h4 id="<%= faq.id %>" class="collapse out">A:<%= faq.answer %></h4>
    </div>
    <% end %>
  </div>
</div>
