<% provide(:title, "FAQs") %>

<div id="faqs-page" class="container-fluid">
  <div class="container">
    <div class="row">
      <h1>Frequently Asked Questions</h1>
    </div>
    <% @faqs.each do |faq| %>
    <div>
      <h4 data-toggle="collapse" data-target="#<%= faq.id %>">
        <strong><%= faq.question %></strong>
      </h4>
      <p id="<%= faq.id %>" class="collapse out">
        <%= faq.answer %>
      </p>
    </div>
    <% end %>
  </div>
</div>
