<% provide(:title, "Save Money") %>

<div id="save-money-page" class="container-fluid">
  <div class="container">
  <div class="row page-banner vertical-center">
    <h1>Save Money on Childcare</h1>
  </div>
    <br>
    <br>
    <h3>Sibling discount</h3>
    <p>
      This sibling discount will be applied to the highest fees and is not valid in conjunction with any other offer or discount.
    </p>
    <p>
      In order to support families who attend Oak Tree Day Nursery, we are pleased to offer a 10% siblings' discount to parent with more than 1 child in our care. This discount will be applied to the highest fees and cannot be used in conjunction with any other offer or discount.
    </p>
    <h3>Our Staff</h3>
    <p>
      We also offer discounted childcare to employees of the nursery.
    </p>
    <h3>Recommend a friend</h3>
    <p>
      Recommend a friend and we will waive the registration fee for your friend and give you 10% off your child's fees for 1 month once your friend has registered. Cannot be used in conjunction with any other offer or discount.
    </p>
    <h3>Childcare vouchers</h3>
    <p>
      We accept childcare vouchers as part or full payment of your child's daycare costs - contact us for more information.
    </p>
    <p>
      Childcare vouchers is a scheme some employers offer to help working parents save on registered childcare costs.
    </p>
    <p>
      Childcare vouchers are not means tested and are available to all working parents whose companies operate childcare voucher schemes.
    </p>
    <h3>Tax credit for your childcare </h3>
    <p>
      Nine out of ten families are eligible for some financial assistance through the Child Tax Credit and Working Tax Credit. The amount you receive will depend on your circumstances. Working Tax Credit includes a childcare element to help families who are working and spending money on childcare.
    </p>
    <p>
      You could get extra tax credits to help pay for some of your childcare costs while you’re working.
    </p>
    <ul>
      <strong>You could get:</strong>
      <li>up to £122.50 a week - for one child</li>
      <li>up to £210 a week - for two or more children</li>
    </ul>
  </div>
</div>
