<% provide(:title, "Our staff") %>
<div id="staff-page">
  <div class="container-fluid">
    <div class="container">
      <%= image_tag "staff1.jpg", class: "img-responsive" %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h2>Our Staff</h3>
          </div>
          <div class="col-sm-9">
            <p>
              Our staff are really important to us. We recognise that through their dedicated efforts we are able to deliver the exceptional care your child needs and for which we strive.
            </p>
            <p>
              We recruit staff with great care and have high expectations of them. All our staff hold relevant childcare qualifications and are experienced.
            </p>
            <p>
              Our management team are qualified to degree level and Early Years Professional Status.
            </p>
            <p>
              All staff are closely vetted for suitability prior to recruitment. Enhanced CRB checks are carried out and references taken.
            </p>
            <p>
              Our staff are regularly monitored, appraised and supervised to ensure that they are performing to the best of their abilities.
            </p>
            <p>
              We have 3 group training days per year when the nursery is closed to the children for staff training; this is in addition to individual training courses and programmes undertaken by our staff.
            </p>
            <p>
              All our staff are trained in Paediatric First Aid, Safeguarding, Health &amp; Safety and EYFS (Early Years Foundation Stage Curriculum).
            </p>
            <p>
              We pay competitive salaries to attract motivated, high quality staff and ensure they are provided with good working terms and conditions and good career development opportunities.
            </p>
          </div>
        </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <h2>Staff Awards</h2>
      <% @awards.each do |award| %>
      <div class="row text-center">
        <h3><%= award.title %></h3>
        <%= image_tag award.photo.url %>
        <p class="text-left">
          <%= award.description %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
