<% provide(:title, "Testimonials") %>

<div id="testimonials-page" class="container-fluid">
  <div class="container">
  <h1 class="text-center">What others say about us</h1>
  <% @testimonials.each do |testimonial| %>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag testimonial.photo.image.url, class: 'img-responsive' %>
      </div>
      <div class="col-sm-6">
      <h3><%= testimonial.title %></h3>
      <p>
        <strong><%= testimonial.created_at.strftime("%e %B %Y") %></strong>
      </p>
      <p><%= testimonial.description %></p>
      </div>
    </div>
  <% end %>
  </div>
</div>
