<% provide(:title, "Testimonials") %>

<div id="testimonials-page" class="container-fluid">
  <div class="container">
    <div class="row page-banner vertical-center">
      <h1>Testimonials</h1>
    </div>
  <% @testimonials.each do |testimonial| %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p id="testimonial-content"><%= description(testimonial.description) %></p>
        <h4 class="text-right"><strong><%= testimonial.name %></strong></h4>
      </div>
    </div>
  <% end %>
  </div>
</div>
