<h1>
  <%= event_text @event %>
</h1>

<p>
  <%= @event.description %>
</p>
<p class="text-right">
  <%= link_to fa_icon("pencil 2x", id: "pencil"), edit_event_path(@event),
                                                                          title: "Edit" %>
  <%= link_to fa_icon("trash 2x", id: "bin"), @event,
                                                                     method: :delete,
                                                                     data: { confirm: "Are you sure?" },
                                                                     title: "Delete" %>
</p>
