<h1 class="text-center"><%= @album.name %></h1>

<div class="container">
  <div id="links" class="links">
    <% @album.photos.each do |picture| %>
        <%= link_to image_tag(picture.image.url(:medium)), picture.image.url, data: { gallery: ''} %>
        <% end %>
  </div>
</div>
