@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lora);

@import "administration_global_variables";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "blueimp-gallery.min";
@import "bootstrap-image-gallery";
@import "mixins";
@import "administration/**/*";

body{
  height: 100%;
  height: 100vh;
}

a, a:hover, a:active, a:focus{
  outline: 0;
  text-decoration: none;
}

#admin-header{
  background-color: $light-cappuccino;
  color: $dark-cappuccino;
  margin-bottom: 3em;
  h1{
    font-weight: bold;
  }
  table{
    width: 100%;
  }
}

p{
  font-size: $font-size-base;
  font-family: $font-family-serif;
}

.alert-notice{
  @extend .alert-info;
}

#main{
  padding-bottom: 100px;
}

#admin-back-link{
  position: fixed;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  h4{
    margin-top: 0;
  }
}

@media (max-width: 480px){
  #admin-header{
    h1{
      font-size: 1.4em;
    }
  }
  #admin-back-link{
    position: fixed;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    h2{
      font-size: 1.3em;
    }
    h4{
      font-size: 1em;
      margin-top: 0;
    }
  }
}
