/*
 *= require_tree ./application
 *= require_self
 */

@import 'https://fonts.googleapis.com/css?family=Corben|Lato|Lora';
@import 'https://fonts.googleapis.com/css?family=Cabin+Sketch:700';
// $font-family-sans-serif: 'Lato', sans-serif;
$font-family-sans-serif: 'Marko One', serif;
$font-family-serif: 'Lora', serif;
$font-size-base: 18px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "application/**/*";

html{
  height: 100%;
  height: 100vh;
}

body{
  height: 100%;
  height: 100vh;
  background: image-url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p{
  font-family: $font-family-serif;
}

#hero-header{
  h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 3em;
    color: brown;
  }
  .container{
    margin-top: 1em;
  }
}

.navbar{
  background-color: #0F748F;
  border: 0px;
  margin-bottom: 3em;
}

ul li{
    list-style-type: none;
}

a, a:hover, a:active, a:focus{
  outline: 0;
}

#navbar-collapse{
  text-align: center;
}

.navbar-default .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  li{
    margin: auto 1em;
    a{
      color: #eee;
    }
  }
  li:nth-child(1){
    a:hover{
        color: #f3948c;
      }
  }
  li:nth-child(2){
    a:hover{
        color: #F0720A;
      }
  }
  li:nth-child(3){
    a:hover{
        color: #86F100;
      }
  }
  li:nth-child(4){
    a:hover{
        color: #72aaf3;
      }
  }
  li:nth-child(5){
    a:hover{
        color: #fbc79d;
      }
  }
  li:nth-child(6){
    a:hover{
        color: #be89dc;
      }
  }
  a:hover{
    font-weight: bold;
  }
}

#footer{
  margin-top: 3em;
  padding-top: 1em;
  background-color: rgba(15,116,143,0.8);
  border-radius: 5px;
  a{
    color: #eee;
  }
  #footer-images{
    margin-top: 1.5em;
    img{
      height: 4em;
      margin: 1em;
      border-radius: 10px;
    }
  }
}
