$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-cursive: 'Indie Flower', cursive;
$min-viewport-desktop: calc(100vh - 503.5px); // 150px navbar + 353.5px footer
$min-viewport-tablet: calc(100vh - 638px); // 150px navbar + 488px footer
$min-viewport-mobile: calc(100vh - 476px); // 150px navbar + 326px footer
$font-size-base: 18px;
$red: #eb595a;
$purple: #7a5fa6;
$blue: #62baec;
$btn-default-bg: $purple;
$btn-default-color: #fff;
$btn-default-border: #5f4884;
