@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Cabin+Sketch:700';


$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 18px;
$red: #eb595a;
$purple: #7a5fa6;
$blue: #62baec;
$btn-default-bg: $purple;
$btn-default-color: #fff;
$btn-default-border: #5f4884;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";
@import "blueimp-gallery.min";
@import "bootstrap-image-gallery";
@import "blueimp-gallery.min.css";
@import "mixins";
@import "administration/albums";
@import "application/*";

// Application

html, body{
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: $font-family-sans-serif;
}

ul li{
    list-style-type: none;
}

a, a:hover, a:active, a:focus{
  outline: 0;
  text-decoration: none;
}


button[disabled], html input[disabled]{
  cursor: not-allowed;
} // End Application

// Navigation
#logo{
  height: 80px;
  width: auto;
}

.navbar{
  height: 100px;
  border: 0px;
  margin-bottom: 50px;
  background-color: transparent;
  -webkit-box-shadow: 0px 12px 21px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 21px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 21px -11px rgba(0,0,0,0.75);
}

#header{
  position: relative;
  height: 100%;
  .navbar-header{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #navbar-collapse{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
    .navbar-nav{
      li{
        border-bottom: 2px solid transparent;
         -webkit-transition: 500ms;
          -o-transition: 500ms;
          -moz-transition: 500ms;
          transition: 500ms;
        a{
          color: $red;
        }
      }
      li:hover{
        border-bottom: 2px solid $red;
      }
    }
    .active{
      border-bottom: 2px solid $red !important;
      a{
        background-color: transparent;
      }
    }
  }
}

.navbar-default .navbar-toggle{
  position: relative;
  top: 18px;
  border-color: $red;
  .icon-bar{
    background-color: $red;
  }
  &:hover, &:focus{
    background-color: #fff;
  }
}   // End Navigation

// devise/sessions/new.html.erb
#login{
  @include dead-center;
  .btn-default{
    color: #fff;
    background-color: $red;
    border-color: #cc1919;
  }
}

// Application wide
.text-purple{
  color: $purple;
}

.text-red{
  color: $red;
}

.text-blue{
  color: $blue;
}

main{
  min-height: calc(100% - 150px); // navbar total height 150px
  min-height: calc(100vh - 150px);
  position: relative;
}

#footer{
  background-color: $blue;
  strong{
    font-weight: 700;
    color: $purple;
  }
  a{
    color: #fff;
  }
  .container{
    margin-top: 3em;
  }
  #footer-images{
    text-align: center;
    img{
      margin-bottom: 5px;
      width: 80px;
      border-radius: 5px;
    }
  }
} // End Footer

// Small
@media (max-width: 992px) {
  #header{
    width: 100%;
  }
  .navbar-nav li a{
    font-size: 14px;
  }
}

// XSmall
@media (max-width: 767px) {
  #header #navbar-collapse{
    top: 300px;
    right: 20px;
    width: 50%;
    background: #fff;
    text-align: center;
    .navbar-nav li a{
      font-size: 18px;
    }
  }
  .navbar-header{
    width: 100%;
  }
  #footer #footer-images{
    margin-top: 1em;
    img{
      margin: 0;
    }
  }
}

// Mobile Portrait
@media (max-width: 468px){

}

