@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Cabin+Sketch:700';


$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 18px;
$red: #eb595a;
$purple: #7a5fa6;
$blue: #62baec;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";
@import "blueimp-gallery.min";
@import "bootstrap-image-gallery";
@import "blueimp-gallery.min.css";
@import "mixins";
@import "administration/albums";
@import "application/**/*";


// Application

html, body{
  position: relative;
  min-height: 100vh;
  min-height: 100%;
}

body{
  padding-bottom: 298px;
}


h1, h2, h3, h4, h5, h6, p{
  font-family: $font-family-sans-serif;
}

ul li{
    list-style-type: none;
}

a, a:hover, a:active, a:focus{
  outline: 0;
  text-decoration: none;
}


button[disabled], html input[disabled]{
  cursor: not-allowed;
} // End Application

// Navigation
#logo{
  height: 80px;
  width: auto;
}

.navbar{
  height: 15vh;
  border: 0px;
  background-color: transparent;
  -webkit-box-shadow: 0px 12px 21px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 21px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 21px -11px rgba(0,0,0,0.75);
}

.navbar-header{
  display: inline-block;
  .navbar-brand {
    height: 100%;
  }
  .navbar-toggle{
    margin-top: 25.8px;
    margin-right: 0px;
  }
}

#navbar-collapse{
  display: inline-bock;
  .navbar-nav{
    li{
      a{
        color: $red;
      }
    }
  }
  .navbar-right {
    margin-top: 27.5px;
  }
} // End Navigation

#footer{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: $blue;
  strong{
    font-weight: 700;
    color: $purple;
  }
  a{
    color: #fff;
  }
  .container{
    margin-top: 3em;
  }
  #footer-images{
    text-align: center;
    img{
      margin-bottom: 5px;
      width: 80px;
      border-radius: 5px;
    }
  }
}

@media (max-width: 768px) {
  body{
    padding-bottom: 451px;
  }
  #navbar-collapse .navbar-right{
    background: #fff;
    text-align: center;
  }
  .navbar{
    height: 10vh;
  }
  .navbar-header{
    width: 100%;
    #logo{
      height: 60px;
    }
  }
  #footer #footer-images{
    margin-top: 1em;
    img{
      margin: 0;
    }
  }
}
