@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Cabin+Sketch:700';
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';

@import "application_global_variables";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";
@import "blueimp-gallery.min";
@import "bootstrap-image-gallery";
@import "blueimp-gallery.min.css";
@import "mixins";
@import "administration/albums";
@import "application/*";

// Application

html, body{
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: $font-family-sans-serif;
}

ul li{
    list-style-type: none;
}

a, a:hover, a:active, a:focus{
  outline: 0;
  text-decoration: none;
}


button[disabled], html input[disabled]{
  cursor: not-allowed;
} // End Application

// Navigation
#logo{
  height: 80px;
  width: auto;
}

.navbar{
  height: 100px;
  border: 0px;
  margin-bottom: 50px;
  background-color: transparent;
  -webkit-box-shadow: 0px 12px 21px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 21px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 21px -11px rgba(0,0,0,0.75);
}

#header{
  position: relative;
  height: 100%;
  .navbar-header{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #navbar-collapse{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
    .navbar-nav{
      li{
        border-bottom: 2px solid transparent;
         -webkit-transition: 500ms;
          -o-transition: 500ms;
          -moz-transition: 500ms;
          transition: 500ms;
        a{
          color: $red;
        }
      }
      li:hover{
        border-bottom: 2px solid $red;
      }
    }
    .active{
      border-bottom: 2px solid $red !important;
      a{
        background-color: transparent;
      }
    }
  }
}

.navbar-default .navbar-toggle{
  position: relative;
  top: 18px;
  border-color: $red;
  .icon-bar{
    background-color: $red;
  }
  &:hover, &:focus{
    background-color: #fff;
  }
}   // End Navigation

// Application wide
.text-purple{
  color: $purple;
}

.text-red{
  color: $red;
}

.text-blue{
  color: $blue;
}

main{
  min-height: $min-viewport-desktop;
  position: relative;
  margin-bottom: 50px;
}

.vertical-center{
  min-height: $min-viewport-desktop;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
}

// devise/sessions/new.html.erb
#login{
  min-height: $min-viewport-desktop;
  .btn-default{
    color: #fff;
    background-color: $red;
    border-color: #cc1919;
  }
}

#footer{
  background-color: $blue;
  strong{
    font-weight: 700;
    color: $purple;
  }
  a{
    color: #fff;
  }
  p {
    margin-top: 25px;
    color: $purple;
    a{
      color: $purple;
    }
  }
  .container{
    margin-top: 3em;
  }
  #footer-images{
    text-align: center;
    img{
      margin-bottom: 5px;
      width: 80px;
      border-radius: 5px;
    }
  }
} // End Footer

// Small
@media (max-width: 992px) {
  main{
    min-height: $min-viewport-tablet;
  }
  #header{
    width: 100%;
  }
  .navbar-nav li a{
    font-size: 14px;
  }
  #login{
    min-height: $min-viewport-tablet;
  }
}

// XSmall
@media (max-width: 767px) {
  main{
    min-height: $min-viewport-mobile;
  }
  #header #navbar-collapse{
    top: 250px;
    right: 20px;
    width: 50%;
    background: #fff;
    text-align: center;
    .navbar-nav li a{
      font-size: 18px;
    }
  }
  .navbar-header{
    width: 100%;
  }
  #footer {
    ul li{
      text-align: center;
      ul li{
        text-align: left;
      }
    }
    #footer-images{
      margin-top: 1em;
      img{
        margin: 0;
      }
    }
    #oaktree-footer , #information-footer, #external-links-footer{
      strong{
        cursor: pointer;
      }
      ul{
        display: none;
      }
    }
  }
  #login{
    min-height: $min-viewport-mobile;
  }
}
