$body-bg:   #fbfbfb;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins";


body{
  height: 100%;
}

.container{
  @include dead-center;
}

.alert-alert{
  @extend .alert-warning;
}
