#about-us-page{
  min-height: $min-viewport-desktop;
  img{
    border-radius: 5px;
  }
  .row{
    display: table;
    .col-xs-6{
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@media (max-width: 992px){
  min-height: $min-viewport-tablet;
}

@media (max-width: 767px){
  min-height: $min-viewport-mobile;
}
