#careers-page{
  margin-bottom: 50px;
  #no-vacanices{
    @include absolute-position(40%, 50%);
  }
  .row{
    position: relative;
    height: 250px;
    overflow-y: hidden;
    margin-bottom: 20px;
  }
  .fadeout {
      position: absolute;
      bottom: 0em;
      width:100%;
      height: 50px;
      cursor: pointer;
      background: -webkit-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
      background-image: -moz-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
      background-image: -o-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
      background-image: linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
      background-image: -ms-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
  }
  @media (max-width: 767px){
  h1{
    font-size: 2em;
    text-align: left;
  }
  h3{
    font-size: 1.5em;
    text-align: center;
  }
}
}
