#education-fund-page{
  min-height: $min-viewport-desktop;
  @media (max-width: 1280px){
    h1{
      font-size: 2.2em;
    }
  }
  @media (max-width: 991px){
    min-height: $min-viewport-tablet;
    h1{
      font-size: 1.6em;
    }
  }
  @media (max-width: 767px){
    min-height: $min-viewport-mobile;
    h1{
      line-height: 1.2em;
    }
  }
}
