#faqs-page{
  margin-bottom: 50px;
  .row{
    height: 200px;
    margin-bottom: 50px;
    background: $purple;
    border-radius: 5px;
    h1{
      margin: 0;
      color: #fff;
      line-height: 200px;
      text-align: center;
    }
  }
  p{
    padding-left: 1em;
  }
  h4{
    cursor: help;
  }
}
