#nursery-page{
  img{
    width: 70%;
  }
  .container{
    margin: 1.5em auto;
    &:last-child{
      margin-bottom: 0;
    }
  }
  #baby-unit{
    background: $purple;
    color: #fff;
    border-radius: 5px;
  }
  #toddler-unit{
    @extend #baby-unit;
    background: $red;
  }
  #preschool-unit{
    @extend #baby-unit;
    background: $blue;
  }
}
