small{
  font-size: 0.6em;
    }

#home-page{
  h1 {
    font-weight: 700;
    font-size: 3em;
    line-height: 1.5em;
      }
  p {
    font-size: 1.5em;
    font-weight: 400;
    }
  .btn-primary {
    background-color: $red;
    border: none;
  }
  #welcome{
    position: realtive;
    height: 85vh;
    padding: 0px!important;
    #hero-image{
      position: absolute;
      bottom: -47px;
      right: -20vw;
    }
    svg{
      width: 65vw;
    }
    .container{
      margin: 3em auto 0 auto;
      color: #000;
    }
    @media (max-width: 900px) {
      #hero-image{
        bottom: -45px;
        right: -400px;
      }
      svg{
        width: 850px;
      }
    }
    @media (max-width: 756px) {
      #hero-image{
        bottom: -3px;
        right: -400px;
      }
      svg{
        width: 700px;
      }
    }
  }

  #about-us {
    background-color: $red;
    color: #fff;
    .container{
      margin: 3em auto;
    }
    .pull-left{
      display:inline-block;
    }
    .pull-right{
      display: inline-block;
      width: 50%;
    }
    img{
      margin-top: 80%;
      height: 400px;
      width: auto;
    }
    p {
      line-height: 2em;
    }
    @media (max-width: 600px) {
      .pull-right{
        display: block;
        width: 100%;
      }
    }
  }

  #services{
    p{
      font-size: 1em;
    }
    .container{
      margin: 3em auto;
    }
    .flex-container{
      @include flexbox;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
      justify-content: space-around;
    }
    .flex-item{
      padding: 20px;
      @include flex(1);
      text-align: center;
    }
    svg{
      width: 200px;
      #baby-unit{
        path, circle{
          fill: $purple;
        }
      }
      #toddler-unit{
        path, circle{
          fill: $red;
        }
      }
      #preschool-unit{
        path, circle{
          fill: $blue;
        }
      }
    }
    .link{
      position: realtive;
      bottom: 0;
      left: 0;
    }
    #baby-link{
      color: $purple;
    }
    #toddler-link{
      color: $red;
    }
    #preschool-link{
      color: $blue;
    }
  }

  #visit-us{
    background-color: $purple;
    .container{
      position: relative;
      margin: 3em auto;
    }
    .text{
      position: absolute;
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
      padding-right: 1.5em;
      color: #fff;
    }
    svg{
      width: 50%;
      float: right;
    }
    p{
      font-size: 1em;
    }
    button {
      background-color: $red;
      border: none;
    }
  }
}

#about-us-page{
  img{
    border-radius: 5px;
  }
  .row{
    display: table;
    .col-xs-6{
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

#nursery-page{
  @extend #about-us-page;
}

#staff-page{
  img{
    margin: auto 1em;
    float: right;
    display: inline;
    border-radius: 5px;
  }
}

#contact-page{
  .container-fluid{
    margin: 3em auto;
  }
  #contacts{
    display: table;
    .col-sm-6{
      float: none;
      display: table-cell;
      div{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

#gallery-page{
  .thumbnail{
    background: transparent;
    border: none;
  }
}

#parent-profile-page{
  height: 100%;
  height: 100vh;
}

//screen-sm
@media (max-width: 768px) {
  #home-page{
    #about-us .container{
      .pull-right{
        width: 100%;
        float: left;
      }
      .pull-left{
        img{
          margin-top: 0;
        }
      }
    }
    #visit-us{
      .container{
        position: static;
        background: url("school.svg") center center no-repeat;
      }
      svg{
        display:none;
      }
      .text{
        position: static;
        transform: none;
        width: 100%;
      }
    }
  }
}

