small{
  font-size: 0.6em;
    }

#home-page{
  #welcome{
    position: realtive;
    height: 85vh;
    // background: url('hero-image.svg') 60vw no-repeat;
    padding: 0px!important;
    h1 {
      font-weight: 700;
      font-size: 3em;
      line-height: 1.5em;
        }
    p {
      font-weight: 400;
      }
    #hero-image{
      position: absolute;
      bottom: -47px;
      right: -20vw;
    }
    svg{
      width: 65vw;
    }
    .container{
      margin: 3em auto 0 auto;
      color: #000;
    }
    #hero-button {
      background-color: $purple;
      border: none;
    }
    @media (max-width: 900px) {
      #hero-image{
        bottom: -45px;
        right: -400px;
      }
      svg{
        width: 850px;
      }
    }
    @media (max-width: 756px) {
      #hero-image{
        bottom: -3px;
        right: -400px;
      }
      svg{
        width: 700px;
      }
    }
  }

  #about-us {
    background-color: $red;
    color: #fff;
    .container{
      margin: 3em auto;
    }
    .pull-left{
      display:inline-block;
    }
    .pull-right{
      display: inline-block;
      width: 50%;
    }
    img{
      margin: auto;
      height: 400px;
      width: auto;
    }
    p {
      line-height: 2em;
    }
    @media (max-width: 600px) {
      .pull-right{
        display: block;
        width: 100%;
      }
    }
  }

  #services{
    .container{
      margin: 3em auto;
    }
    .flex-container{
      @include flexbox;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
      justify-content: space-around;
    }
    .flex-item{
      padding: 20px;
      @include flex(1);
      text-align: center;
    }
    svg{
      width: 200px;
      #baby-unit{
        path, circle{
          fill: $purple;
        }
      }
      #toddler-unit{
        path, circle{
          fill: $red;
        }
      }
      #preschool-unit{
        path, circle{
          fill: $blue;
        }
      }
    }
    .link{
      position: realtive;
      bottom: 0;
      left: 0;
    }
    #baby-link{
      color: $purple;
    }
    #toddler-link{
      color: $red;
    }
    #preschool-link{
      color: $blue;
    }
  }

  // #news{
  //   margin: 1.5em auto 3 auto;
  //   .row{
  //     display: table;
  //     .col-xs-12, .col-sm-4{
  //       float: none;
  //       display: table-cell;
  //       vertical-align: middle;
  //     }
  //   }
  //   img{
  //     border-radius: 5px;
  //   }
  // }
}

#about-us-page{
  img{
    border-radius: 5px;
  }
  .row{
    display: table;
    .col-xs-6{
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

#nursery-page{
  @extend #about-us-page;
}

#staff-page{
  img{
    margin: auto 1em;
    float: right;
    display: inline;
    border-radius: 5px;
  }
}

#contact-page{
  .container-fluid{
    margin: 3em auto;
  }
  #contacts{
    display: table;
    .col-sm-6{
      float: none;
      display: table-cell;
      div{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

#gallery-page{
  .thumbnail{
    background: transparent;
    border: none;
  }
}

#parent-profile-page{
  height: 100%;
  height: 100vh;
}

@media (max-width: 992px) {
  #home-page{
    #welcome{
      background-position: 200px 280px;
    }
    #about-us{
      img{
        width: 30vw;
        height: auto;
      }
    }
  }
}

// screen-xs
@media (max-width: 480px) {

}

//screen-sm
@media (max-width: 768px) {

}

