@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

$font-size-base: 18px;
$red: #eb595a;
$purple: #7a5fa6;
$blue: #62baec;

h1 {
  font-family: 'Montserrat', serif;
  font-weight: 700;
    }
p {
  font-weight: 400;
  }

small{
  font-size: 0.6em;
    }

#home-page{
  #intro{
    .container{
      margin: 3em auto 1.5em auto;
      color: #000;
    }
    height: 100vh;
    .vertical-text {
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: left; 
      justify-content: center;
    }
    background: url('hero-background.png') 700px 100px no-repeat;
    padding: 0px!important;
    #welcome-text {
      line-height: 1.5em;
    }
  }

  #hero-button {
    background-color: $purple;
    border: none;
  }

  #services {
    background-color: $red;
    color: #fff;
    padding: 30px 0px;
    img{
      margin: auto;
    }
    p {
      line-height: 2em;
    }
    .services-image img {
      height: 400px;
      width: auto;
    }
    .about-us {
      margin-top: 50px;
    }
  }
  #news{
    margin: 1.5em auto 3 auto;
    .row{
      display: table;
      .col-xs-12, .col-sm-4{
        float: none;
        display: table-cell;
        vertical-align: middle;
      }
    }
    img{
      border-radius: 5px;
    }
  }
}

#about-us-page{
  img{
    border-radius: 5px;
  }
  .row{
    display: table;
    .col-xs-6{
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

#nursery-page{
  @extend #about-us-page;
}

#staff-page{
  img{
    margin: auto 1em;
    float: right;
    display: inline;
    border-radius: 5px;
  }
}

#contact-page{
  .container-fluid{
    margin: 3em auto;
  }
  #contacts{
    display: table;
    .col-sm-6{
      float: none;
      display: table-cell;
      div{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

#gallery-page{
  .thumbnail{
    background: transparent;
    border: none;
  }
}

#parent-profile-page{
  height: 100%;
  height: 100vh;
}

