@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

#home-page{
  h1 {
    font-weight: 700;
    font-size: 3em;
    line-height: 1.5em;
      }
  p {
    font-size: 1.5em;
    font-weight: 400;
    }
  .btn-primary {
    background-color: $red;
    border: none;
  }
  #welcome{
    position: relative;
    height: 85vh;
    padding: 0px!important;
    #hero-image{
      position: absolute;
      bottom: -10px;
      right: -300px;
      z-index: -1;
    }
    svg{
      height: 750px;
    }
    .container{
      color: #000;
      margin-top: 3em;
    }
    #welcome-text{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  #about-us {
    background-color: $red;
    color: #fff;
    .container{
      margin: 3em auto;
    }
    .pull-left{
      display:inline-block;
    }
    .pull-right{
      display: inline-block;
      width: 50%;
    }
    img{
      margin-top: 80%;
      height: 400px;
      width: auto;
    }
    p {
      line-height: 2em;
    }
    @media (max-width: 600px) {
      .pull-right{
        display: block;
        width: 100%;
      }
    }
  }

  #services{
    p{
      font-size: 1em;
    }
    .container{
      margin: 3em auto;
    }
    .flex-container{
      @include flexbox;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
      justify-content: space-around;
    }
    .flex-item{
      padding: 20px;
      @include flex(1);
      text-align: center;
    }
    svg{
      width: 200px;
      #baby-unit{
        path, circle{
          fill: $purple;
        }
      }
      #toddler-unit{
        path, circle{
          fill: $red;
        }
      }
      #preschool-unit{
        path, circle{
          fill: $blue;
        }
      }
    }
    .link{
      position: realtive;
      bottom: 0;
      left: 0;
    }
    #baby-link{
      color: $purple;
    }
    #toddler-link{
      color: $red;
    }
    #preschool-link{
      color: $blue;
    }
  }

  #visit-us{
    background-color: $purple;
    .container{
      position: relative;
      margin: 3em auto;
    }
    .text{
      position: absolute;
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
      padding-right: 1.5em;
      color: #fff;
    }
    svg{
      width: 50%;
      float: right;
    }
    p{
      font-size: 1em;
    }
    button {
      background-color: $red;
      border: none;
    }
  }

  #testimonials{
    margin: 3em auto;
    position: relative;
    min-height: 500px;
  }
  li{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    p{
      font: 2.5em 'Indie Flower', cursive;
    }
    strong{
      padding-right: 1em;
    }
    .fa{
      font-size: 0.5em;
    }
    .from{
      text-align: right;
    }
  }
}

#about-us-page{
  img{
    border-radius: 5px;
  }
  .row{
    display: table;
    .col-xs-6{
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

#nursery-page{
  img{
    width: 70%;
  }
  .container{
    margin: 1.5em auto;
  }
  #baby-unit{
    background: $purple;
    color: #fff;
    border-radius: 5px;
  }
  #toddler-unit{
    @extend #baby-unit;
    background: $red;
  }
  #preschool-unit{
    @extend #baby-unit;
    background: $blue;
  }
}

#staff-page{
  img{
    margin: auto 1em;
    float: right;
    display: inline;
    border-radius: 5px;
  }
}

#contact-page{
  .container-fluid{
    margin: 3em auto;
  }
  #contacts{
    display: table;
    .col-sm-6{
      float: none;
      display: table-cell;
      div{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

#gallery-page{
  .thumbnail{
    background: transparent;
    border: none;
  }
}

#parent-profile-page{
  height: 100%;
  height: 100vh;
}

//screen-md
@media (max-width: 1280px) {
  #home-page{
    #welcome{
      #welcome-text{
        top: 0;
        transform: none;
      }
      #hero-image{
        right: -400px;
        svg{
          height: 600px;
        }
      }
    }
  }
}

//screen-sm
@media (max-width: 992px) {
  #welcome-text{
    h1{
      font-size: 2em;
    }
    p{
      font-size: 1.3em;
    }
  }
  #home-page #welcome #hero-image{
    right: -400px;
    svg{
      height: 600px;
    }
  }
  #testimonials li p{
    font-size: 2em;
  }
}

//screen-xs
@media (max-width: 768px) {
  #home-page{
    #welcome{
      height: 75vh;
      #welcome-text{
        top: 0;
        transform: none;
      }
      #hero-image{
        svg{
          height: 650px;
        }
      }
    }
    #about-us .container{
      .pull-right{
        width: 100%;
        float: left;
      }
      .pull-left{
        img{
          margin-top: 0;
        }
      }
    }
    #visit-us{
      .container{
        position: static;
        background: url("school.svg") center center no-repeat;
      }
      svg{
        display:none;
      }
      .text{
        position: static;
        transform: none;
        width: 100%;
      }
    }
    #testimonials li p{
      font-size: 1.5em;
    }
  }
}

//Mobile Landscape
@media (max-width: 740px) {
  #home-page{
    #welcome{
      #welcome-text{
        top: 0;
        transform: none;
        h1{
          font-size: 1.2em;
        }
        p{
          font-size: 0.8em;
          .btn-lg, .btn-group-lg > .btn{
            font-size: 1.2em;
          }
        }
      }
      #hero-image{
        right: -100px;
        svg{
          height: 270px;
        }
      }
    }
    #about-us{
      p{
        line-height: 1.3em;
      }
      img{
        height: 250px;
      }
    }
    #services{
      svg{
        width: 150px;
      }
    }
    #testimonials{
      li{
        left: 15px;
      }
    }
  }
}

//  Mobile Portrait
@media (max-width: 468px) {
  #home-page{
    h1{
      font-size: 2.3em
    }
    p{
      font-size: 1.3em;
    }
    #welcome{
      height: 85vh;
      #welcome-text{
        top: 0;
        transform: none;
        h1{
          font-size: 1.4em;
        }
        p{
          font-size: 0.8em;
          .btn-lg, .btn-group-lg > .btn{
            font-size: 1em;
          }
        }
      }
      #hero-image{
        right: -150px;
        svg{
          height: 300px;
        }
      }
    }
    #services{
      svg{
        width: 100px;
      }
    }
    #testimonials{
     li{
      p{
        font-size: 1.4em;
      }
      .from{
        text-align: left;
      }
     }
    }
  }
}
