#home-page{
  #hero-intro{
    background: image-url('hero-intro.jpg') no-repeat center center;
    background-size: cover;
    .container{
      margin: 3em auto 1.5em auto;
      color: #fff;
    }
  }
  #news{
    background-color: #F9E69B;
    .container{
      margin: 1.5em auto 3 auto;
    }
  }
}

#contact-page{
  .container-fluid{
    margin: 3em auto;
  }
  #contacts{
    display: table;
    .col-sm-6{
      float: none;
      display: table-cell;
      div{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

