@import 'https://fonts.googleapis.com/css?family=Henny+Penny|Marko+One';

#home-page{
  #intro{
    h1, p{
      font-family: 'Marko One', serif;
    }
    small{
      font-size: 0.6em;
    }
    .container{
      margin: 3em auto 1.5em auto;
      color: #000;
    }
  }
  #services{
    margin: 1.5em auto 1.5em auto;
    img{
      margin: auto;
    }
    p{
      font-family: 'Lato', sans-serif;
      font-weight: bold;
    }
  }
  #news{
    margin: 1.5em auto 3 auto;
    .row{
      display: table;
      .col-xs-12, .col-sm-4{
        float: none;
        display: table-cell;
        vertical-align: middle;
      }
    }
    img{
      border-radius: 5px;
    }
  }
}

#about-us-page{
  img{
    border-radius: 5px;
  }
  .row{
    display: table;
    .col-xs-6{
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

#nursery-page{
  @extend #about-us-page;
}

#staff-page{
  img{
    margin: auto 1em;
    float: right;
    display: inline;
    border-radius: 5px;
  }
}

#contact-page{
  .container-fluid{
    margin: 3em auto;
  }
  #contacts{
    display: table;
    .col-sm-6{
      float: none;
      display: table-cell;
      div{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

