#testimonials-page{
  h4{
    color: $purple;
  }
  #testimonial-content{
    font: 1.5em $font-family-cursive;
  }
  .row{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
